*{
    margin-left: 20;
}
body{
    margin:2em;
}
header{
    margin-left: 5%;
    margin-right: 5%;
}
.nav-bar{
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-self: center;
    
}
.logo
{
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 50px;
    text-decoration: none;
    margin-right: 3em;
}
.first
{
    color: #A18A68;
}
.second
{
    color: #686AA1;
}
nav ul li{
    display: inline-block;
    padding: 10px;
}
ul li a{
    color: #060606;
    text-decoration: none;

}
.pic_header{
    width: 90%;
    height: 90vh;
    background-image: url("Header.png");
    background-size: cover;
    border-radius: 15px;
    padding-left: 9em;
    background-repeat: no-repeat;
}
.header_h1
{
    font-family: 'Allerta Stencil', sans-serif;
    font-family: 'DM Sans', sans-serif;
    padding-top: 50px;
	color: white;
	font-size: 90px;
	text-align:start;
}
.header_h2
{
    font-family: 'Allerta Stencil', sans-serif;
    font-family: 'DM Sans', sans-serif;
    padding-top: 50px;
	color: white;
	font-size: 30px;
	text-align:start;
    bottom: 300px;
    left: 15px;
}
.header_h3
{
    font-family: 'Allerta Stencil', sans-serif;
    font-family: 'DM Sans', sans-serif;
	color: white;
	font-size: 30px;
	text-align:start;
    bottom: 230px;
    left: 15px;
}
.header_h4
{
    font-size: 26px;
    font-family: 'Allerta Stencil', sans-serif;
    font-family: 'DM Sans', sans-serif;
    margin-left: 2em;
}

.product
{
    padding: 40px 0;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
}
.price {
    color: #A18A68;
    font-size:large;
}

.about
{
    text-align: center;
}
.custom-footer{
    
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    
}
.footer
{
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.footer a {
    color: #333;
    text-decoration: none;
}

 a:hover {
    color: #f5deae;
}
.form{
    width: 50%;
}
/* for description */
.custom-aside
{
    display: flex;
    justify-content: space-between;
}
#custom-h1
{
    font-family: 'Allerta Stencil', sans-serif;
    font-family: 'DM Sans', sans-serif;
    color: #686AA1;
    font-weight: bold;
    border-style:none;
    text-align: center;
    font-size:30px;
    background-color: #C4B6A0;

}
#custom-des
{
    font-family: 'Allerta Stencil', sans-serif;
    font-family: 'DM Sans', sans-serif;
    color: #686AA1;
    font-weight:bolder;
    font-size:30px;
}
aside {
    width: 400px;
    padding: 10px;
    margin: 10px;
}
#Header-rec
{
    margin-left: 50px;
    color: #686AA1;
}
.Recommendation {
    padding: 40px 0;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
}